.home {
      min-height: 100vh;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 12rem;
      background-color: rgb(93, 247, 93);
}

.title {
      position: fixed;
      top: 0;
      left: -60px;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      color: rgb(247, 241, 178);
      text-shadow: 1px 1px 1px black;
      ;
}