@font-face {
  font-family: "Nicephore Variable";
  src: url("../public/fonts/Nicephore-Variable.woff"), url("../public/fonts/Nicephore-Variable.woff");
  font-weight: 100 900;
  font-style: normal;

}

.App {}

.landing-section {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-left: 50px;
}

.section-main-title {
  position: relative;
  width: fit-content;
}

.section-main-title span {
  background-color: rgb(0, 204, 255);
  top: 15px;
}

li {
  font-family: "Nicephore Variable";
}



.titlespan {
  position: absolute;
  width: 100%;
  height: 12px;
  z-index: -1;
  background-color: rgb(62, 241, 206);
  left: 0;
  top: 24px;

}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nicephore Variable";
}

h2 {
  font-size: 1.3rem;
}

h3 {
  transition: font-weight 0.2s ease-in-out;
  font-weight: 300;
  font-size: 1rem;
}

h3:hover {
  font-weight: 700;
}