@font-face {
  font-family: "Nicephore Variable";
  src: url("../public/fonts/BitstreamVeraSansMono-Bold.woff"), url("../public/fonts/Nicephore-Variable.woff");
  font-weight: 100 900;
  font-style: normal;

}

@font-face {
  font-family: "SF Pro Black";
  src: url("../public/fonts/BaseNeueTrial-Black.ttf"), url("../public/fonts/Nicephore-Variable.woff");
  font-weight: 100 900;
  font-style: normal;


}


.App {
  min-height: 100vh;
  height: 100%;
}

.landing-section {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-left: 10vw;

}

.section-main-title {
  position: relative;
  width: fit-content;
  z-index: 200;
  background-color: white;
  border: 2px solid black;
  color: black;
  height: fit-content;
  padding: 8px 10px;
  font-size: 0.9rem;
  background-color: rgb(249, 130, 130);
}

.section-main-title:nth-of-type(2) {
  background-color: blue !important;
}


li {
  font-family: "Nicephore Variable";
}





h1 {
  font-size: 5.5rem;
  font-family: "SF Pro Black";

}

h2,
h3,
h4,
h5 {
  font-family: "Nicephore Variable";
}

h2 {
  font-size: 1.3rem;
}

h3 {
  transition: font-weight 0.2s ease-in-out;
  font-weight: 300;
  font-size: 1rem;
}

h3:hover {
  font-weight: 700;
}